.lightMode {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    background-color: #fefefe;
}

.no-select {
    user-select: none; /* Standard syntax */
}

.no-hov:hover {
    cursor: default;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: "...";
    overflow: scroll;
    scrollbar-width: none;
}

.ellipsis::-webkit-scrollbar {
    display: none;
}

.gray {
    color: #757575;
}

.add-color {
    color: #36CC9A;
}

.direct {
    color: #C3CCFC;
}

.dir {
    color: #7284EB;
}

.red {
    color: #EC4F47;
}

.pink {
    color: #FD9F9A;
}

.orange {
    color: #FFB039;
}

.yellow {
    color: #E2CB00;
}

.blue {
    color: #00CFAD;
}

.green {
    color: #97C500;
}