

#navbar {
    display: grid;
    grid-template-columns: 30px auto 70px;
    margin: 0;
    padding: 20px 5% 15px 5%;
    width: 90%;
    border-bottom: 1px solid #757575;
    /* background: #000; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#navbar > .text {
    padding-left: 15px;
    padding-right: 5px;
}

#menu-button:hover:before {
    content: '[/]';
}

#menu-button:after {
    content: '[|]';
}

#menu-button:hover:after {
    content: '';
}

#switch-button {
    font-weight: bold;
    text-align: right;
}

#switch-button:hover {
    cursor: pointer;
    font-style: oblique;
}

#switch-button:active {
    font-weight: normal;
    font-style: normal;
}