* {
  font-family: 'Cousine', sans-serif;
  color: #fefefe;
  font-size: 16px;
  padding: 0;
  margin: 0;
  outline: none;
}

input[type='text']:focus {
  font-style: oblique;
  color: #fefefe;
}

button {
  font-weight: bold;
  background: none;
  border: none;
}

button:hover {
  font-style: oblique;
  cursor: pointer;
}

button:active {
  font-style: normal;
  font-weight: normal;
}

input {
  background: none;
  border: none;
  font-weight: bold;
}

input[type='text']:hover {
  font-style: oblique;
  cursor: pointer;
  color: #fefefe;
}

input[type='button']:hover {
  font-style: oblique;
}

body {
  width: 100vw;
  height: 100vh;
}

#container {
  transition: 0.5s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #030303;
  width: 360px;
  height: 540px;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 53px auto 57px;
  box-shadow: 10px 10px 20px 0px #a2a2a2;
}
