#prompt {
  /* position: fixed; */
  width: 90%;
  padding: 15px 5% 20px 5%;
  display: grid;
  grid-template-columns: 20px auto 84px;
  /* background: #000; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.symb {
  color: #1abaff;
  padding-right: 10px;
  animation: blinker 2.5s ease-in-out infinite;
}

@keyframes blinker {
  50% {
    opacity: 50%;
  }
}

#prompt > .text {
  font-weight: normal;
  padding-bottom: 4px;
  padding-left: 8px;
  transition: 0.2s;
  border-bottom: 1px solid #757575;
}

#prompt > .text:hover {
  border-bottom: 1px solid #fefefe;
  font-style: normal;
  cursor: text;
}

#prompt > .text:focus {
  font-style: normal;
}

.buttons-container {
  text-align: right;
  display: flex;
  justify-content: space-between;
  padding-left: 14px;
}
